<h2>Sign Up New User</h2>
<br><br>

<%= render 'shared/errors' %>

<form action="<%= users_url %>" method="POST">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

    <label for="email">Email</label>
        <input
            type="text"
            name="user[email]"
            id="email"
            value="">

    <label for="password">Password</label>
        <input
            type="password"
            name="user[password]"
            id="password"
            value="">

    <input
        type="submit"
        value="Create New User">
</form>